body{
    margin: 0px;
    background-color: #666666;
}

#content{
    width: 75%;
    height: 100vh;
    background-color: lawngreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y:scroll ;
    float: left;
}

#form{
    width: 25%;
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#addDiv{
    width: 250px;
    height: 50%;
    background-color: #666666;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    margin-top: 10px;
}


/* produkty */

.productDiv{
    height: 300px;
    width: 200px;
    background-color: #666666;
    border: 2px solid black;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.H1{
    font-size: 20px;
    color: whitesmoke;
}

.statusBUTTON{
    height: 100px;
    width: 100px;
    float: left;
}